<p>Olá {{name}},</p>
<p>Você solicitou uma alteração de senha. Clique no link abaixo para alterar sua senha:</p>
<p><a href="{{url}}">Alterar senha</a></p>
<p>Se não foi você que fez o pedido, por favor ignore este email.</p>
